<!DOCTYPE html>
<html>
    <head>
        <title>Ethan's Django Girls blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Ethan's Django Girls Blog</a></h1>
        </header>

        {% for post in posts %}
            <article>
                <h2><a href="">{{ post.title }}</a></h2>
                <p><strong>Published:</strong> {{ post.published_date }}</p>
                <p>{{ post.text|linebreaksbr }}</p>
        </article>
    {% endfor %}

      </body>
</html>